@import "tailwindcss";

:root{
    --fondo: #181e2e
    --fondo_dos: #202737
    --color_base: #d4fa00
    --color_letra: #fff
    --fuente: "Inter"
}

.bg-primario{
    background-color: var(--fondo);
}

.bg-secundario{
    background-color: var(--fondo_dos);
}

.color-base{
    color: var(color-base);
}

body{
    background-color: var(--fondo);
}